Flask==3.0.0
pyserial==3.5
flask-socketio==5.3.5
paho-mqtt==1.6.1
python-socketio==5.10.0
eventlet==0.33.3
numpy==2.2.0
pandas==2.2.3
scikit-learn==1.6.1
joblib==1.4.2
geocoder==1.38.1
requests==2.31.0